.App {
  text-align: center;
  background-color: #dbd5d1;
  min-height: 100vh;
  width: 100vw;
} /* background-color and min-height used to cover whole app */


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Only the following was added by Kim Kong: */

.button-link {
  text-decoration: none;
  color: #dbd5d1;
  font-size: 1.2vmax;
  font-weight: 500;
  border: none;
  background-color: #8eac8c;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  width: 100px;
  max-width: 150px;
  padding: 5px, 0px, 5px, 0px;
  max-height: 25px;
}

.button-link:hover {
  color:thistle;
}

button {
  background-color: transparent;
}